.icono
{
    font-size: 170%;
}
.fa-trash {
    color: red !important;
    cursor: pointer;
}

#buscadorProducto {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
}

#resultadosProducto {
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    position: relative;
    z-index: 999;
}

    #resultadosProducto div {
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }

        #resultadosProducto div:hover {
            background-color: #def;
        }
