@page
@model InversionGloblalWeb.Pages.Account.CambioContrasenaModel
@{

    Layout = null;
}


 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio de Sesión</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap extend-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-extend.css">

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css">

    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/assets/vendor_plugins/iCheck/all.css">

    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/assets/assets/vendor_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">

    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/assets/vendor_components/select2/dist/css/select2.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="~/css/master_style.css">
    <!-- Azurex Admin skins -->
    <link rel="stylesheet" type="text/css" href="~/css/skins/_all-skins.css">
    <!-- Data Table-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor_components/datatable/datatables.min.css" />
    <!-- InputMask -->
    <script src="~/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/site.css" />


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>



</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="box-subtitle"> Credenciales</h6>

                            </div>
                            <div class="col-4">


                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col">
                                <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-12">


                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <h5>Contraseña</h5>
                                                    <div class="controls">
                                                        <input asp-for="Input.Clave" id="clave" type="password" placeholder="Digite su nueva contraseña" onchange="javascript: RevisaContraseña()" class="form-control">
                                                        <span style="display:none;" id="ErrorClave" class="text-danger"></span>
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <h5>Confirmar Contraseña</h5>
                                                    <div class="controls">
                                                        <input type="password" id="cClave" placeholder="Confirme la contraseña" onchange="javascript: RevisaConfirmacionContraseña()" class="form-control">
                                                        <span style="display:none;" id="ErrorConfirmacionClave" class="text-danger"></span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                    <div class="text-xs-right">
                                        <button type="submit" id="Guardar" class="btn btn-info" title="Guardar Cambios">Guardar Cambios</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>



    <!-- jQuery 3 -->
    <script src="~/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.min.js"></script>



    <!-- popper -->
    <script src="~/assets/vendor_components/popper/dist/popper.min.js"></script>


    <!-- Bootstrap 4.0-->
    <script src="~/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Select2 -->
    <script src="~/assets/vendor_components/select2/dist/js/select2.full.js"></script>

    <!-- InputMask -->
    <script src="~/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>

    <!-- date-range-picker -->
    <script src="~/assets/vendor_components/moment/min/moment.min.js"></script>
    <script src="~/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- bootstrap datepicker -->
    <script src="~/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <!-- bootstrap color picker -->
    <script src="~/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- bootstrap time picker -->
    <script src="~/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>

    <!-- SlimScroll -->
    <script src="~/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- iCheck 1.0.1 -->
    <script src="~/assets/vendor_plugins/iCheck/icheck.min.js"></script>

    <!-- FastClick -->
    <script src="~/assets/vendor_components/fastclick/lib/fastclick.js"></script>

    <!-- Azurex Admin App -->
    <script src="~/js/template.js"></script>

    <!-- SlimScroll -->
    <script src="~/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Azurex Admin App -->
    <script src="~/js/template.js"></script>

    <!-- Azurex Admin for advanced form element -->
    <script src="~/js/pages/advanced-form-element.js"></script>

    <!-- This is data table -->
    <script src="~/assets/vendor_components/datatable/datatables.min.js"></script>

    <!-- Azurex Admin for Data Table -->
    <script src="~/js/pages/data-table.js"></script>
    <script>
        var btn = document.getElementById('Guardar');
        $(document).ready(function () {
            btn.disabled = true;

        });

        function esMayuscula(letra) {
            return letra === letra.toUpperCase();
        }

        function esMinuscula(letra) {
            return letra === letra.toLowerCase();
        }


        function verificaMayusculas(palabra) {
            var i = 0;
            for (var index = 0; index < palabra.length; index++) {
                var letraActual = palabra.charAt(index);
                if (isNaN(letraActual)) {
                    if (tiene_caracteres(letraActual) == 0) {

                        if (esMayuscula(letraActual)) {
                            i++;
                        }
                    }
                }



            }

            return i;

        }


        function verificaMinisculas(palabra) {
            var i = 0;
            for (var index = 0; index < palabra.length; index++) {
                var letraActual = palabra.charAt(index);
                if (isNaN(letraActual)) {
                    if (tiene_caracteres(letraActual) == 0) {

                        if (esMinuscula(letraActual)) {
                            i++;
                        }
                    }

                }


            }

            return i;

        }

        function tiene_caracteres(texto) {
            var regularExpression = "@@/^(?=.*[])(?=.*[!#$%^&*])[-!#$%^&*]{,}$/";
            for (i = 0; i < texto.length; i++) {
                if (regularExpression.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }

        function son_iguales(texto1, texto2) {
            if (texto1 === texto2) {
                return 1;
            } else {
                console.log(texto1 + " " + texto2);
                return 0;

            }
        }

        function tiene_numeros(texto) {
            var numeros = "0123456789";
            for (i = 0; i < texto.length; i++) {
                if (numeros.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }
        //Revisa las contraseñas

        function RevisaContraseña() {
            console.log("Retorno de mayusculas: -> " + verificaMayusculas($("#clave").val()));
            if (tiene_numeros($("#clave").val()) == 0) {
                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe contener letras y numeros");
                btn.disabled = true;

            } else if ($("#clave").val().length < 8) {
                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe tener una longitud mayor a 8 caracteres");
                btn.disabled = true;
            } else if (verificaMayusculas($("#clave").val()) == 0) {

                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe tener mayúsculas");
                btn.disabled = true;
            }
            else if (verificaMinisculas($("#clave").val()) == 0) {
                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe tener minúsculas");
                btn.disabled = true;
            }
            else {
                var x = document.getElementById("ErrorClave");
                x.style.display = "none";

                if (tiene_caracteres($("#clave").val()) == 0) {
                    console.log("No  tiene");
                    var x = document.getElementById("ErrorClave");
                    x.style.display = "block";
                    $("#ErrorClave").text("La contraseña debe contener al menos un caracter especial");
                    btn.disabled = true;
                } else {
                    console.log("Si tiene");
                    var x = document.getElementById("ErrorClave");
                    x.style.display = "none";
                    // btn.disabled = false;


                }
            }

            RevisaConfirmacionContraseña();



        }

        function RevisaConfirmacionContraseña() {
            if (son_iguales($("#clave").val(), $("#cClave").val()) == 0) {
                console.log(" son distintos");
                var x = document.getElementById("ErrorConfirmacionClave");
                x.style.display = "block";
                $("#ErrorConfirmacionClave").text("Las contraseñas no coinciden");
                btn.disabled = true;
            } else {
                console.log("No son iguales");
                var x = document.getElementById("ErrorConfirmacionClave");
                x.style.display = "none";
                btn.disabled = false;
            }


        }

    </script>
</body>

</html>

