@page "{id}"
@model NOVAAPP.Pages.Bodegas.UsuariosBodegasModel
@{
    ViewData["Title"] = "Asignar Bodegas";
}


@section styles {


}
@section scripts {

    <script>
                $(document).ready(function () {
                    jQuery(document).ready(function ($) {
                        $(document).ready(function () {
                            $('.mi-selector').select2();
                        });
                    });
                    $(".js-example-responsive").select2({
                        width: 'resolve',// need to override the changed default
                        height: 'resolve'
                    });

                    RellenaDatosAsignados();

                });

                var ProdCadena = [];
                var ProdCadenaM = [];

                function InsertarProductoTablaMia(i) {
                    var detalle =
                    {
                        id: ProdCadena[i].id,
                        nombre: ProdCadena[i].nombre
                    }
                    ProdCadenaM.push(detalle);

                    ProdCadena.splice(i, 1);
                    RellenaTablaM();
                    RellenaTablaG();

                }

                function InsertarProductoTablaG(i) {
                    var detalle =
                    {
                        id: ProdCadenaM[i].id,
                        nombre: ProdCadenaM[i].nombre
                    }
                    ProdCadena.push(detalle);

                    ProdCadenaM.splice(i, 1);
                    RellenaTablaM();
                    RellenaTablaG();

                }

                function RellenaDatosAsignados() {



                     $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '@Url.Page("UsuariosBodegas", "Bodegas")', //Nombre del metodo
                         data: { id: $("#idBodega").val() },
                    success: function (result) {

                        console.log(result);



                            for (var i = 0; i < result.usuariosGenerales.length; i++) {
                                var detalle = {
                                    id: result.usuariosGenerales[i].id,
                                    nombre: result.usuariosGenerales[i].nombre,

                                };
                                ProdCadena.push(detalle);

                            }

                        for (var i = 0; i < result.usuariosMiosS.length; i++) {
                            if (result.usuariosMiosS[i].nombre != null) {

                                var detalle = {
                                    id: result.usuariosMiosS[i].id,
                                    nombre: result.usuariosMiosS[i].nombre,

                                };
                                ProdCadenaM.push(detalle);
                            }

                            }
                            RellenaTablaG();
                            RellenaTablaM();


                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
                }

                function RellenaTablaG() {
                    try {
                    var sOptions = '';

                    $("#tbody1").html('');

                    for (var i = 0; i < ProdCadena.length; i++) {
                        sOptions += '<tr>'
                        sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadena[i].id + '</p></td>';
                        sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadena[i].nombre + '</p></td>';

                        sOptions += '<td align="center" style="padding-top:15px;"><a  onclick="javascript: InsertarProductoTablaMia(' + i + ')" title="Pasar Modulo" class="fa fa-mail-forward icono"></a> ';



                        sOptions += '</tr>'
                    }
                    $("#tbody1").html(sOptions);
                    }catch(e)
                    {
                        console.log(e);
                        Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Ha ocurrido un error al intentar imprimir ' + e

                                         })
                    }
                }


                function RellenaTablaM() {
                    try {
                    var sOptions = '';

                    $("#tbody2").html('');

                    for (var i = 0; i < ProdCadenaM.length; i++) {
                        sOptions += '<tr>'
                        sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadenaM[i].id + '</p></td>';
                        sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadenaM[i].nombre + '</p></td>';

                        sOptions += '<td align="center" style="padding-top:15px;"><a  onclick="javascript: InsertarProductoTablaG(' + i + ')" title="Pasar Modulo" class="fa fa-mail-reply icono"></a> ';



                        sOptions += '</tr>'
                    }
                    $("#tbody2").html(sOptions);
                    }catch(e)
                    {
                        console.log(e);
                        Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Ha ocurrido un error al intentar imprimir ' + e

                                         })
                    }
                }

                function Generar() {
                    try {
                    var idBodega = $("#idBodega").val();

                    for (var i = 0; i < ProdCadenaM.length; i++) {
                        ProdCadenaM[i].nombre = ProdCadenaM[i].nombre.replace(" ", "_");
                    }
                    var usuBod =
                    {
                        ProdCadenaM
                    };
                    var usuarios = JSON.stringify(usuBod);


                    var enviar = {
                        idBodega,
                        usuarios
                    };
                    var str = JSON.stringify(enviar).toString();
                    str = str.replace(" ", "_");
                    console.log(str);


                   $.ajax({
                            type: 'POST',

                            url: '@Url.Page("UsuariosBodegas", "Generar")',
                            dataType: 'text',
                            data: { recibidos: str},
                                headers: {
                                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json);
                                if (json == "true") {
                                    Swal.fire({
                                        title: "Ha sido guardado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload();
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar'

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                            });

        }catch(e)
                    {
                        console.log(e);
                        Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Ha ocurrido un error al intentar imprimir ' + e

                                         })
                    }
                }


                function PasarTodasDerecha() {
                    try {
                    var tam = ProdCadenaM.length;
                    var tam2 = ProdCadena.length;


                    for (var i = 0; i < ProdCadena.length; i++) {

                        var detalle =
                        {
                            id: ProdCadena[i].id,
                            nombre: ProdCadena[i].nombre
                        }
                        ProdCadenaM.push(detalle);
                    }

                    ProdCadena = [];


                    RellenaTablaM();
                    RellenaTablaG();
                    }catch(e)
                    {
                        console.log(e);
                        Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Ha ocurrido un error al intentar imprimir ' + e

                                         })
                    }
                }


                function PasarTodasIzquierda() {
                    try {
                    var tam = ProdCadena.length;
                    var tam2 = ProdCadenaM.length;

                    console.log(tam2);
                    for (var i = 0; i < tam2; i++) {

                        var detalle =
                        {
                            id: ProdCadenaM[i].id,
                            nombre: ProdCadenaM[i].nombre
                        }
                        ProdCadena.push(detalle);
                    }


                    ProdCadenaM = [];


                    RellenaTablaM();
                    RellenaTablaG();
                    }catch(e)
                    {
                        console.log(e);
                        Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Ha ocurrido un error al intentar imprimir ' + e

                                         })
                    }
                }

                function cerrarModalError() {
                    $("#Error").hide();
                }

    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bodegas
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Asignar Bodegas</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xl-12 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="box-subtitle"> Asignar Bodegas</h6>

                        </div>
                        <div class="col-4">
                            <a asp-page="./Index" class="btn btn-outline-info" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>

                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-12">

                            <div class="col-xl-12 col-12">
                                <div class="form-group">
                                    <h5>Nombre de la Bodega</h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Bodegas.Nombre" class="form-control" readonly>
                                        <input id="idBodega" asp-for="Bodegas.id" hidden />


                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-xl-6 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>
                                Lista de Usuarios Disponibles
                            </h3>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <a onclick="javascript: PasarTodasDerecha()" title="Pasar Todos los Usuarios" class="fa fa-fast-forward icono"></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-12">

                            <div class="table-responsive tableFixHead" style="padding:inherit; overflow:scroll;    z-index: 5; height: 290px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th align="center" style=" text-align: center;"><h3>ID</h3></th>
                                            <th align="center" style=" text-align: center;"><h3>Nombre </h3></th>




                                            <th align="center" style=" text-align: center;"><h3>Acción</h3></th>
                                        </tr>

                                    </thead>
                                    <tbody id="tbody1">
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-6 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>
                                Lista Usuarios Asignados a la Bodega
                            </h3>
                        </div>
                        <div class="coll-sm-4" style="text-align: right;">
                            <a onclick="javascript: PasarTodasIzquierda()" title="Pasar Todos los Modulos" class="fa fa-fast-backward icono"></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-12">

                            <div class="table-responsive tableFixHead" style="padding:inherit; overflow:scroll;    z-index: 5; height: 290px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th align="center" style=" text-align: center;"><h3>ID</h3></th>
                                            <th align="center" style=" text-align: center;"><h3>Nombre </h3></th>




                                            <th align="center" style=" text-align: center;"><h3>Acción</h3></th>
                                        </tr>

                                    </thead>
                                    <tbody id="tbody2">
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="text-xs-right">
                <button onclick="javascript: Generar();" class="btn btn-info" title="Guardar Cambios">Guardar Cambios</button>
            </div>
        </div>

    </div>
</section>